<main class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <h2>Nuevo Usuario</h2>
            <form id="frmCrear">
                <div class="form-group">
                    <label>Identificacion:</label>
                    <input type="number" class="form-control" 
                           id="usuIdentificacion" name="usuIdentificacion" required/>
                </div>
                <div class="form-group">
                    <label>Nombre:</label>
                    <input type="text" class="form-control" 
                           id="usuNombres" name="usuNombres" required/>
                    <div class="form-group">
                        <label>Genero:</label>
                        <p>

                            <input id="usuGeneroM" type="radio" name="usuGenero" value="M" /> Masculino<br>

                            <input id="usuGeneroF" type="radio" name="usuGenero" value="F" /> Femenino<br>

                            <input id="usuGeneroO" type="radio" name="usuGenero" value="O" /> Otro

                        </p>
                    </div>
                    <div class="form-group">
                        <label>Correo:</label>
                        <input type="text" class="form-control" 
                               id="usuCorreo" name="usuCorreo" required/>
                    </div>
                    <div class="form-group">
                        <label>Telefono:</label>
                        <input type="number" class="form-control" 
                               id="usuTelefono" name="usuTelefono" required/>
                    </div>
                    <div class="form-group">
                        <label>Avatar:</label>
                        <input type="text" class="form-control" 
                               id="usuAvatar" name="usuAvatar" required/>
                    </div>
                    <div class="form-group">
                        <label>Tipo Identificacion:</label>
                        <div id="content_tid">
                            <select class="form-control" 
                                    id="fkTipoIdentificacion" name="fkTipoIdentificacion" required ></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">Enviar</button>
                        <button type="reset" class="btn btn-warning">Limpiar</button>
                    </div>
            </form>
        </div>
        <div class="col-3"></div>
    </div>

</div>

<div class="row">
    <div class="col-12 alert alert-success hide" >
        <strong>Success!</strong> <p></p>
    </div>
</div>
</main>
<script src="appclient/js/crearUsuario.js" type="text/javascript"></script>
<!--<script src="appclient/libs/popper.min.js" type="text/javascript"></script>
<script src="appclient/libs/Bootstrap-4-Multi-Select-BsMultiSelect/dist/js/BsMultiSelect.js" type="text/javascript"></script>-->
