<!--Autor: Andres Felipe Mera Tróchez-->
<main class="container">
    <div class="row">
        <div class="col-12">

            <table class="table table-striped">
                <thead class="bg-primary navbar-dark text-white">
                    <tr>
                        <th>Nombre</th>
                        <th>Nombre Direccion</th>
                        <th>Telefono</th>
                        <th>Correo</th>
                        <th>Latitud</th>
                        <th>Longitud</th>
                        <th>Descripcion</th>
                        <th>Tipo Lugar</th>
                        <th>Municipio</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</main>
<script src="appclient/js/listarLugar.js" type="text/javascript"></script>