<main class="container">
    <div class="row">        
        <div class="col-12">
            <table class="table table-striped">
                <thead class="bg-primary navbar-dark text-white">
                    <tr>
                        <th>Fecha Registro</th>
                        <th>Fecha Llegada</th>
                        <th>Fecha Salida</th>
                        <th>Fecha Checking</th>
                        <th>Fecha Checkout</th>
                        <th>Estado</th>
                        <th>Pago</th>
                        <th>Cliente</th>
                        <th>Alojamiento</th>
                        <th>Usuario Checking</th>
                        <th>Usuario Checkout</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</main>
<script src="appclient/js/listarReserva.js" type="text/javascript"></script>