<!--Autor: Andres Felipe Mera Tróchez-->
<main class="container">
    <div class="row">
        <div class="col-12">

            <table class="table table-striped">
                <thead class="bg-primary navbar-dark text-white">
                    <tr>
                        <th>Identificacion</th>
                        <th>Nombres</th>
                        <th>Genero</th>
                        <th>Correo</th>
                        <th>Telefono</th>
                        <th>Avatar</th>
                        <th>Tipo de Identificacion</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</main>
