<!--Autor: Andrés Felipe Mera Tróchez-->
<main class="container">
    <div class="row">
        <div class="col-12">

            <table class="table table-striped">
                <thead class="bg-primary navbar-dark text-white">
                    <tr>
                        <th>Codigo</th>
                        <th>Capacidad</th>
                        <th>Presio</th>
                        <th>Descripcion</th>
                        <th>Lugar</th>
                        <th>Tipo Alojamiento</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</main>
<script src="appclient/js/listarAlojamiento.js" type="text/javascript"></script>