<nav class="navbar navbar-toggleable-md navbar-inverse 
     navbar-expand-sm navbar-dark bg-success text-white 
     fixed-top bg-custom-gradient-purple">
    <a class="navbar-brand" href="?">Inicio</a>
    <button class="navbar-toggler" 
            type="button" 
            data-toggle="collapse" 
            data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" 
         id="collapsibleNavbar">
        <ul class="nav nav-pills"> 
            <!-- Item -->
            <li class='nav-item dropdown'>
                <a class='nav-link dropdown-toggle text-white' 
                   data-toggle='dropdown' href='#'>Geografico</a>
                <div class='dropdown-menu'>
                    <a class='dropdown-item' href='?p=listarPais'>Paises</a>
                    <a class='dropdown-item' href='?p=listarDepartamento'>Departamentos</a>
                    <a class='dropdown-item' href='?p=listarMunicipio'>Municipio</a>
                </div>
            </li> 
            <!-- Item -->
            <li class='nav-item dropdown'>
                <a class='nav-link dropdown-toggle text-white' 
                   data-toggle='dropdown' href='#'>Lugar</a>
                <div class='dropdown-menu'>
                    <a class='dropdown-item' href='?p=crearLugar'>Nuevo Lugar</a>
                    <a class='dropdown-item' href='?p=listarLugar'>Lista de Lugar</a>
                </div>
            </li> 
            <!-- Item -->
            <li class='nav-item dropdown'>
                <a class='nav-link dropdown-toggle text-white' 
                   data-toggle='dropdown' href='#'>Alojamiento</a>
                <div class='dropdown-menu'>
                    <a class='dropdown-item' href='?p=crearAlojamiento'>Nuevo Alojamiento</a>
                    <a class='dropdown-item' href='?p=listarAlojamiento'>Lista de alojamientos</a>
                </div>
            </li> 
            <!-- Item -->
            <li class='nav-item dropdown'>
                <a class='nav-link dropdown-toggle text-white' 
                   data-toggle='dropdown' href='#'>Calificaciones</a>
                <div class='dropdown-menu'>
                    <a class='dropdown-item' href='?p=crearCalificacion'>Crear Calificacion</a>
                </div>
            </li> 
            <!-- Item -->
            <li class='nav-item dropdown'>
                <a class='nav-link dropdown-toggle text-white' 
                   data-toggle='dropdown' href='#'>Reserva</a>
                <div class='dropdown-menu'>
                    <a class='dropdown-item' href='?p=crearReserva'>Nueva Reserva</a>
                    <a class='dropdown-item' href='?p=listarReserva'>Lista de Reserva</a>
                </div>
            </li> 
            <!-- Item -->
            <li class='nav-item dropdown'>
                <a class='nav-link dropdown-toggle text-white' 
                   data-toggle='dropdown' href='#'>Tipo alojamiento</a>
                <div class='dropdown-menu'>
                    <a class='dropdown-item' href='?p=crearTipoAlojamiento'>Nuevo Tipo Alojamineto</a>
                    <a class='dropdown-item' href='?p=listarTipoAlojamiento'>Lista de Tipo Alojamiento</a>
                </div>
            </li> 
            <!-- Item -->
            <li class='nav-item dropdown'>
                <a class='nav-link dropdown-toggle text-white' 
                   data-toggle='dropdown' href='#'>Tipo lugar</a>
                <div class='dropdown-menu'>
                    <a class='dropdown-item' href='?p=crearTipoLugar'>Nuevo Tipo Lugar</a>
                    <a class='dropdown-item' href='?p=listarTipoLugar'>Lista de Tipo Lugar</a>
                </div>
            </li> 
            <!-- Item -->
            <li class='nav-item dropdown'>
                <a class='nav-link dropdown-toggle text-white' 
                   data-toggle='dropdown' href='#'>Usuario</a>
                <div class='dropdown-menu'>
                    <a class='dropdown-item' href='?p=crearUsuario'>Nuevo Usuario</a>
                    <a class='dropdown-item' href='?p=listarUsuario'>Lista de Usuario</a>
                </div>
            </li>
            <!-- Item -->
            <li class='nav-item dropdown'>
                <a class='nav-link dropdown-toggle text-white' 
                   data-toggle='dropdown' href='#'>Usuario</a>
                <div class='dropdown-menu'>
                    <a class='dropdown-item' href='?p=crearUsuario'>Nuevo usuario</a>
                    <a class='dropdown-item' href='?p=listarUsuario'>Lista de usuarios</a>
                </div>
            </li> 
        </ul>
    </div>
</nav>